
body {
	margin: 0;
	padding: 0;
	background: #000000 url(images/The-backside-of-a-very-old-book.jpg) repeat top left;
	text-align: justify;
}

#header {
	width: 900px;
	height: 60px;
	margin: 0 auto;
}
#menu {
	width: 950px;
	height: 60px;
	margin: 0 auto;
	background: #6AA2FD url(images/brown_leather950x60.png);
    border-radius: 10px;
}
#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
	text-transform: uppercase;
}

#menu a {
	display: block;
	float: left;
	padding: 18px 30px 0 30px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #FFFFFF;
}
#menu a:hover {

    color: red;

}
#search {
    float: right;
	width: 200px;
	height: 28px;
    padding-top: 18px;
}

#logo{
    height: 88px;
	padding: 20px 90px 0 0;
	float: left;
}
#greeting {
    width: 900px;
	height: 30px;
    font-size: 20px;
    margin: 0 auto;
    color: blue;
}

.panel-heading {
    background: #000000 url(images/sidebar.png) repeat top left;
}
.panel-title {
    color: white;
}

.panel-body {
    background-color: white;
}
.panel {
    background-color: transparent;
    border: 0;
}

#text {
    word-break: break-all; 
    word-wrap: break-word;
}
#content {
	float: right;
	width: 640px;
}
#page {
	width: 890px;
	margin: 0 auto;
	padding: 30px 0;
}
#sidebar {
	float: left;
	width: 245px;
    height: 1000px;
    background: #000000 url(images/sidebar.png) repeat top left;
    padding-right: 5px;
    color: white;
    border-radius: 10px;

}
#sidebarContent {
    padding: 20px;
    text-align: left;
    font-size: 20px;
}
#sidebarContent a {
    text-decoration: none;
    color: white;
}
#sidebarContent a:hover {
    color: red;
}
#footer {
    clear:both;
    text-align:center;
    padding:5px;
    font-size: 18px;
    font-weight: bold;
}

#hyperlinkColorWhite {
    color: white;
    text-decoration: none;
}

#contentPicture {
    background-color:#eeeeee;
    height: 150px;
    width:100px;
    float:left;
    padding:3px;
}


#contentDescription {
    height: 130px;
    padding:3px;
    word-break: break-all; 
    word-wrap: break-word;
    background-color: transparent;
}

#contentFooter {
    background: #000000 url(images/sidebar.png) repeat top left;
    clear:both;
    text-align:center;
    padding:5px;
    color: white;	 	 
}

#contentFooter a{
    text-decoration: none;
    color: white;	 	 
}


#hyperlinkColorWhite:hover {
    color: red;
}

#searchColour {
    background: #000000 url(images/sidebar.png) repeat top left;
    border: 0;
}

#adminPagePanel .panel-heading {
    color: white;
    text-align: center;
}

/*--------------------Validator-------------------------*/

.field-validation-error {
    color: red;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid red;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: red;
}
/*--------------------Validator-------------------------*/


/*--------------------About picture-------------------------*/
#center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*--------------------About picture-------------------------*/

