
body {
	margin: 0;
	padding: 0;
    background: #a73737;
    background: linear-gradient(to left, #a73737 , #7a2828);
	text-align: justify;
    font-family: Verdana, Geneva, sans-serif;
}

#header {
	width: 900px;
	height: 60px;
	margin: 0 auto;
}
#menu {
	width: 950px;
	height: 70px;
	margin: 0 auto;
	background: rgba(25, 25, 25, 0.83);
    border-radius: 10px;
}
#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
	text-transform: uppercase;
}

#menu a {
	display: block;
	float: left;
	padding: 18px 30px 0 30px;
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #FFFFFF;
}
#menu a:hover {
     color: ##a73737;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
}
#search {
    float: right;
	width: 200px;
	height: 28px;
    padding-top: 18px;
}

#logo{
    height: 88px;
	padding: 20px 90px 0 0;
	float: left;
    display:compact;
}
#greeting {
    width: 900px;
	height: 30px;
    font-size: 20px;
    margin: 0 auto;
    color: blue;
}

.panel-heading {
    background-color: transparent;
}

.panel-title {
    color: #191919;
    font-size: 20px;
    background-color: transparent;

}

.panel-body {
    background-color: transparent;
}
.panel {
    background-color: transparent;
    color:white;
    border: 0;
}

#text {
    word-break: break-all; 
    word-wrap: break-word;
}
#content {
	float: right;
	width: 640px;
}
#page {
	width: 890px;
	margin: 0 auto;
	padding: 30px 0;
}
#sidebar {
	float: left;
	width: 245px;
    height: 1000px;
    background: rgba(25, 25, 25, 0.81);
    padding-right: 5px;
    color: white;
    border-radius: 10px;

}
#sidebarContent {
    padding: 20px;
    text-align: left;
    font-size: 25px;
}
#sidebarContent a {
    background-color: rgba(130, 41, 41, 0.86);
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: table-cell;
    font-size: 17px;
    margin: 2px 2px;
    cursor: pointer;
}
#sidebarContent a:hover {
    color: #808080;
    border-bottom: double;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
}
#footer {
    clear:both;
    text-align:center;
    padding:5px;
    font-size: 18px;
    font-weight: bold;
    color: #191919;
}

#hyperlinkColorWhite {
    color: white;
    text-decoration: none;
}

#contentPicture {
    background-color:#eeeeee;
    height: 130px;
    width:100px;
    float:left;
    padding:3px;
    margin-bottom: 20px;
}
#contentPicture img {
    max-height: 125px;
    max-width: 95px;
}


#contentDescription {
    height: 130px;
    padding:3px;
    word-break: break-all; 
    word-wrap: break-word;
    background-color: transparent;
}

#contentFooter {
    background: #000000 url(images/sidebarNew.png) repeat top left;
    clear:both;
    text-align:center;
    padding:5px;
    color: white;	 	 
}

#contentFooter a{
    text-decoration: none;
    color: white;	 	 
}


#hyperlinkColorWhite:hover {
    color: #a73737;
}

#searchColour {
    background: #191919;
    border: 0;
}

#adminPagePanel .panel-heading {
    color: white;
    text-align: center;
}

/*--------------------Validator-------------------------*/

.field-validation-error {
    color: red;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid red;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: red;
}
/*--------------------Validator-------------------------*/


/*--------------------About picture-------------------------*/
#center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*--------------------About picture-------------------------*/
/*--------------------Zoom picture-------------------------*/
.overlay{
 	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000000;	
	z-index: 1;
}
#ZoomImageLarge {
	display: none;
	position: absolute;		
	background: #FFFFFF;	
	padding: 5px;
	z-index: 10;
    min-width: 60px;
    min-height: 60px;
	color: #336699;
}
#ZoomImageLarge img {
    border: none;
    width: auto;
    max-height: 800px;
    max-width: 600px;
}
/*--------------------Zoom picture-------------------------*/
.navFont {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    border-bottom:groove;
}

.navFont:hover {
     color: #a73737;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
}

.accordion {
    background-color: #191919;
    border-radius:10px;
}

#recent {
    background-color: rgba(25, 25, 25, 0.68);
    height: 40px;
    display:compact;
    padding:0px;
    margin: 0px;
    text-align: start;
    font-family: Verdana;
    font-size: 30px;
    text-align:center;
    color: white;
    background-color: none;
    border-radius:4px;
}
.registerPanel {
    background-color: transparent;
    color: white;
    font-family:Verdana;
    font-size:20px;
    font-style:italic;
}
.myBtn {
    background-color:#a73737;
    border-color: white;
}

    .myBtn:hover {
        background-color: transparent;
    }
.forText {
    color:white;
    display:inline;
}