
@{
    ViewBag.Title = "About";
}



<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <h2>About the website</h2>
            </div>
        </div>
        <div class="panel-body registerPanel">
            <div id="About">
                <div id="aboutText">
                    <p>
                        Search for knowledge is a website implemented by three UCN students: Janis Indrans, Viktor Meduneckij, Nikita Cimackevic.<br />
                        Website was implemented for the 4th semester final project using MVC, bootstrap, MongoDB and much more.<br />
                    </p>
                </div>
            </div>
            
            <br/>
            <div class="span4">
                <img class="center-block" src="/Content/Images/UCN_logo1.png"/>
            </div>
        </div>
    </div>
</div>

