
<div class="form-group">
    <div id="leftPartOfHeader">
        <div id="headerLogo">
            <div class="logo" style="padding-left: 10px;">
                <a href="@Url.RouteUrl("Home")">
                    <div class="l b">S</div>
                    <div class="l r">4</div>
                    <div class="l y">K</div>
                </a>
            </div>
        </div>

    </div>

    <div id="centerPartOfHeader">

        <div class="btn">
            <a id="hyperlinkColorWhite" href="@Url.RouteUrl("Register")">Register</a>
        </div>


        <div class="btn">
            <a id="hyperlinkColorWhite" href="@Url.RouteUrl("Login")">Login</a>
        </div>


        <div class="btn">
            <a href="@Url.RouteUrl("About")">About</a>
        </div>
    </div>

    <div id="rightPartOfHeader">

        <div class="label" style="font-size: large;">Welcome back Janis!</div>

        <div class="btn">
            <a id=" hyperlinkcolorwhite" href="#">
                Logout
            </a>
        </div>



    </div>
</div>