@using SearchForKnowledge.Models
@using SearchForKnowledge.ViewModels
@model SearchForKnowledge.ViewModels.PostsShowAll

    <h2 id="recent">
        Rescent posts
    </h2>
@Html.Partial("_DisplayPosts", Model.Posts.Posts)
<br/>

<div class="btn-group pull-right">

    @if (Model.Posts.HasPreviousPage)
    {
        <a href="@Url.Action("Index", new {page = Model.Posts.PreviousPage})" class="btn btn-primary btn-sm">
            <i class="glyphicon glyphicon-chevron-left"> Previous Page</i>
        </a>
    }
    else{
        <a href="#" class="btn btn-default btn-disabled btn-sm">
            <i class="glyphicon glyphicon-chevron-left"> Previous Page</i>
        </a>
    }
    @if (Model.Posts.HasNextPage)
    {
        <a href="@Url.Action("Index", new {page = Model.Posts.NextPage})" class="btn btn-primary btn-sm">
            Next Page <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
    else
    {
        <a href="#" class="btn btn-default btn-disabled btn-sm">
            Next Page <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }

</div>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>*@
@*<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>*@
