@using SearchForKnowledge.Models
@using SearchForKnowledge.ViewModels
@model SearchForKnowledge.ViewModels.PostsDisplay

    <h2 id="recent">
        Rescent posts
    </h2>
@Html.Partial("_DisplayPosts", Model.PostsToDisplay)
<br/>

<div class="btn-group pull-right">

    @if (Model.Posts.HasPreviousPage)
    {
        <a href="@Url.Action("Index", new {page = Model.Posts.PreviousPage})" class="btn btn-primary btn-sm">
            <i class="glyphicon glyphicon-chevron-left"></i>Previous Page
        </a>
    }
    else{
        <a class="btn btn-default btn-disabled btn-sm">
            <i class="glyphicon glyphicon-chevron-left"></i>Previous Page
        </a>
    }
    @if (Model.Posts.HasNextPage)
    {
        <a href="@Url.Action("Index", new {page = Model.Posts.NextPage})" class="btn btn-primary btn-sm">
            Next Page<i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
    else
    {
        <a class="btn btn-default btn-disabled btn-sm">
            Next Page<i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }

</div>
