
@{
    ViewBag.Title = "User";
}

<h2>Sign up as a new user!</h2>

<div class="form-group">
    <label for="usr">Name:</label>
    <input type="text" class="form-control" id="usr">
</div>
<div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
</div>
<div class="form-group">
    <label for="school">School name:</label>
    <input type="text" class="form-control" id="school">
</div>
<div class="form-group">
    <label for="country">Country:</label>
    <input type="text" class="form-control" id="country">
</div>
<div class="form-group">
    <label for="city">City:</label>
    <input type="text" class="form-control" id="city">
</div>
    <div class="form-group">
        <input ="Submit" id="Padding" value="Sign up" class="btn btn-primary" />
        <a href="Home">or cancel</a>
    </div>

